@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --paletteColor1: #636a86;
    --dark-blue: #121c52;
    --green: #5bb286;
    --dark-green: #11554e;
    --opacity-color: #5bb2863a;
    --weight: 600;
    --title-size: 2.5rem;
    --font-size: 1.5rem;

    --black: #444;
    --light-color: #a8acc2;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border2: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--dark-color);
    --border2-hover: .1rem solid var(--green);

    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

.fa-paper-plane {
    color: gray;
}

.footer-basic {
    padding: 3rem;
    background-color: var(--green);
}

.footer-basic .company-name {
    font-style: italic;
    color: var(--dark-blue);
    font-size: 2.5rem;
    font-weight: var(--weight);
    font-family: 'Pacifico', cursive;
    transform: scale(1.1);
}




.footer-basic .list-head {
    font-weight: var(--weight);
    font-size: var(--font-size);
    color: var(--dark-blue);
}

.footer-basic ul {

    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
    color: var(--dark-green);
    font-size: var(--font-size);
}

.footer-basic .cust:hover {
    color: white;
}


.footer-link {
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--dark-green);
}

.footer-link:hover {
    color: white;

}